<br>

    <label for="nome">Nome do treinador</label>
    <input type="text" name="nome" [(ngModel)]="treinador.nome">

<br>

<br>

    <label for="email">Insira seu email!</label>
    <input type="text" name="email" [(ngModel)]="treinador.email">

<br>

<br>

    <label for="senha">Escolha uma senha!</label>
    <input type="password" name="senha" [(ngModel)]="treinador.senha">

<br>

<br>

    <label for="pokeId">Insira um ID único para te identificar!</label>
    <input type="text" name="pokeId" [(ngModel)]="treinador.pokeId">

<br>

<br>

 <button (click)="cadastrar()">Cadastrar</button>

<br>

<br>
    <a routerLink="../../pokemons/listar">Listar Pokemons</a>
<br>

<br>
    <a routerLink="../listar">Listar Treinadores</a>
<br>
