
<table mat-table [dataSource]="Pokemons" class="mat-elevation-z8">
  
    <ng-container matColumnDef="pokemon.nome">
      <th mat-header-cell *matHeaderCellDef> Nome do Pokemon </th>
      <td mat-cell *matCellDef="let pokemon"> {{pokemon.nome}} </td>
    </ng-container>
    
    <ng-container matColumnDef="pokemon.descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição do Pokemon </th>
      <td mat-cell *matCellDef="let pokemon">  {{pokemon.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="pokemon.tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo do Pokemon </th>
      <td mat-cell *matCellDef="let pokemon"> {{pokemon.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="pokemon.createdAt">
    <th mat-header-cell *matHeaderCellDef> Data de criação </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.createdAt}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>