<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <mat-list-item>
                <a routerLink="">Home</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a routerLink="simpledex/pokemon/cadastrar">Cadastrar Pokémons</a>
            </mat-list-item> 
            <mat-list-item>
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon> 
                <a routerLink="simpledex/treinador/cadastrar">Cadastrar Treinadores</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon> 
                <a routerLink="simpledex/treinador/listar">Listar Treinadores</a>
            </mat-list-item>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

