<mat-sidenav-container >
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64" >
        <mat-nav-list >
            <mat-list-item routerLink="/" >
                <a >Home</a>
            </mat-list-item>
            <div matSubHeader style="margin-left: 3%;">Pokémon</div>
            <mat-list-item routerLink="simpledex/pokemon/listar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Listar todos os Pokémon</a>
            </mat-list-item> 
            <mat-list-item routerLink="simpledex/pokemon/cadastrar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Cadastrar um novo Pokémon</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/pokemon/buscar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Buscar por um Pokémon</a>
            </mat-list-item> 
            <mat-list-item routerLink="simpledex/pokemon/alterar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Atualizar um Pokémon</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/treinadorPokemon/cadastrar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Cadastrar um Pokemon para um Treinador</a>
            </mat-list-item> 

            <mat-divider></mat-divider> 
            <div matSubHeader style="margin-left: 3%;">Treinadores</div>
            <mat-list-item routerLink="simpledex/treinador/listar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon> 
                <a >Listar todos os Treinadores</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/treinador/cadastrar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon> 
                <a >Cadastrar novo Treinador</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/treinador/buscar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon> 
                <a >Buscar por um Treinador</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/treinador/alterar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Atualizar Treinador</a>
            </mat-list-item>
            <mat-list-item routerLink="simpledex/treinadorPokemon/listar">
                <mat-icon aria-hidden="false">catching_pokemon</mat-icon>
                <a  >Listar todos Treinadores e seus Pokémon</a>
            </mat-list-item> 
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

