
<div style="margin-left: 1%;">
  
    <br>
        <label for="nomePokemon">Procurar por Pokemon </label>
    <br>
    
    <br>
        <input #nomePokemon type="search" name="nomePokemon" >
    <br>
    <br>
        <button class="button" type="submit" mat-raised-button (click)="buscar(nomePokemon.value)">Buscar!</button>
    <br>
   
    <br>
    <a [(ngModel)]="pokemon">{{pokemon}}</a>
    <br>
    <table style="margin-left: auto;margin-right: auto;">
        <thead>
            <tr>
                <th>Nome do Pokémon</th>
                <th>Descrição do Pokémon</th>
                <th>Tipo do Pokémon</th>
                <th>ID</th>
                <th>Data de criação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of pokemons">
                <td>
                    {{pokemon.nome}}
                </td>
                <td>
                    {{pokemon.descricao}}
                </td>
                <td>
                    {{pokemon.tipo}}
                </td>
                <td>
                    {{pokemon._id}}
                </td>
                <td>
                    {{pokemon.createdAt | date: "dd/MM/yyyy"}}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    
</div>



